<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
    <title>怀念过去</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="assets/css/hngq.css" charset=utf-8 type="text/css" media="all"/>
    <!--[if IE 6]>
    <link rel="stylesheet" href="assets/css/ie6.css" type="text/css" media="all"/>
    <script src="assets/js/png-fix.js" type="text/javascript"></script>
    <![endif]-->
</head>
<style type="text/css">
    .container, .container img {
        width: 580px;
        height: 260px;
        color: #333;
    }

    .container img {
        border: 0;
        vertical-align: top;
    }

    #main .shell table tr td #tp1 {
        height: 210px;
        width: 190px;
    }

    #main .shell table tr td #tp2 {
        height: 210px;
        width: 190px;
    }

    #main .shell table tr td #tp3 {
        height: 250px;
    }

    #main .shell table tr td p strong #contenttitle {
        font-size: 14px;
    }
</style>
<body>
<!-- Main -->
<div id="main">
    <div class="shell">
        <table width="984" height="530" border="0" align="center">
            <tr>
                <td height="270" colspan="3">
                    <div class="container" id="idContainer"
                         style=" border-color:#0FF; border:solid; border-width:thin;">
                        <table id="idSlider" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td height="260"><img src="assets/images/lzp/u3872.jpg"/></td>
                                <td><img src="assets/images/lzp/2010011815171372.jpg"/></td>
                                <td><img src="assets/images/lzp/2010011815180512.jpg"/></td>
                                <td><img src="assets/images/lzp/u3871.jpg"/></td>
                            </tr>
                        </table>
                    </div>
                </td>
                <td colspan="2" align="left">
                    <p><strong><span class="hjhj" id="contenttitle">很久很久以前  美丽的环境 </span></strong></p>
                    <p>　据兰溪市博物馆工作人员考察， 这段木化石长约6米，直径近1米，自西向东横卧于地层，树木表皮的纹理清晰可见，保存较为完整。不过，木化石的具体年代和树种要经过专家鉴定后才能确定。
                        博物馆研究员陈星说，木化石在这里比较多，早在1970年，有关专家在当地就发现了一批木化石，但发现这么大而完整的木化石还是第一次。这说明这个地方当 时森林很茂密，气候比现在要温暖潮湿。
                    </p>
                    <p>
                        　据了解，木化石也称硅化木，木变石，形成缘于中生代。当时欧亚板块与印度板块相互撞击，因而发生了地壳错位、断裂、下沉等地质巨变。极少部分的植物埋于富含硅元素的地层中，在高温高压的环境下历经上亿年演变，终成木化石。
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="3" rowspan="2">
                    <div id="tp3">
                        <p><img src="assets/images/pic1.jpg" alt="" width="195" height="125" class="left"/></p>
                        <div>
                            怀念过去的美好，你是否想到了儿时和小伙伴一起野外清清的小河里一起捉鱼虾、玩泥巴；是否想起了奔肆意跑在无边无际草地上；是否想念一边哼着小曲一边采着各种小花；是否在登高望远时，是否在登高望远时，看见蓝蓝的天空、美丽的晚霞，迎着对面吹来的习习晚风，感受着广阔的大海，神秘绿色的草原，大自然的恩赐。我们感叹曾经是那么美好！
                        </div>
                        <p><img src="assets/images/pic2.jpg" alt="" width="228" height="130" class="right"/></p>
                        <div>
                            过去的家园是美好的，人类勤劳，爱护环境，人类与动物和谐共处，我们呼吸着新鲜的空气，生活在蓝天白云，青山绿水的美好环境下，享受着与动物们和谐相处的日子，住着宽敞明亮的住房，交通畅通无阻，过着安逸舒适没有烦恼的日子，可是我们的现在却是那样的不堪入目&hellip;我们应该怀念过去的美好环境，对现在作一些感想
                        </div>
                    </div>

                </td>
                <td width="199" height="28">
                    <div id="tp1"><img src="assets/images/lzp/u3873.jpg" width="190" height="210"/></div>
                </td>
                <td width="181">
                    <div id="tp2"><img src="assets/images/lzp/u3875.jpg" width="190" height="210"/></div>
                </td>
            </tr>
            <tr>
                <td height="38" align="center" id="mm1">美丽的林间小道</td>
                <td align="center" id="mm2">绿色的山村</td>
            </tr>
        </table>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="cl"></div>
    </div>
</div>
<!-- End Main -->
</body>
<script src="assets/js/SlideTrans.js"></script>
<script>
    new SlideTrans("idContainer", "idSlider", 4, {Vertical: false}).Run();
    new SlideTrans("idContainer2", "idSlider2", 4, {Vertical: false}).Run();
    $$("idNext").onclick = function () {
        st.Next();
    }
    $$("idPre").onclick = function () {
        st.Previous();
    }
    $$("idTween").onchange = function () {
        switch (parseInt(this.value)) {
            case 2 :
                st.Tween = Tween.Bounce.easeOut;
                break;
            case 1 :
                st.Tween = Tween.Back.easeOut;
                break;
            default :
                st.Tween = Tween.Quart.easeOut;
        }
    }
</script>
</html>